rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read, write: if request.auth.uid == uid;

      match /checkout_sessions/{id} {
        allow read, write: if request.auth.uid == uid;
      }
      match /subscriptions/{id} {
        allow read: if request.auth.uid == uid;
      }
    }

    match /products/{id} {
      allow read: if true;

      match /prices/{id} {
        allow read: if true;
      }

      match /tax_rates/{id} {
        allow read: if true;
      }
    }
    match /transactions/{document=**} {
      // allow read, write;
      // allow read, create, delete, update;

      // only auth 
      allow create: if request.auth != null;

      // logged in user uid must match the document creator to read or delete
      allow read, delete: if request.auth.uid == resource.data.uid;
    }
  }
}